@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>REPO TEST CHECK:  Ron Was Here!!</p>
    <p>Based on the nice work by Murkesh.  <a href="https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/" target="_blank">Custom User Management in ASP.NET Core MVC with Identity</a></p>

</div>
